body
{
    background :rgb(179, 179, 179);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.1;
    padding: 0;
}

.container
{
    width:80%;
    margin: auto;
    overflow: hidden;
}

#branding h1:hover{
    animation-name: branding;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

header
{
    padding-top: 30px;
}

header a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}

header ul
{
    margin:10;
    padding:10;
}

header li
{
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding
{
    text-align: center;
    text-anchor: middle;
    color: rgb(255, 255, 255);  
}

header #branding h1
{
    margin: 10;
}

header nav
{
    float:left;
}

footer
{
    background: rgb(130, 130, 130);
    color: rgb(241, 241, 241);
    padding-top: 30px;
    min-height: 70px;
    /* border-bottom: rgb(119, 119, 119) 3px solid; */
    /* border-top: rgb(177, 177, 177) 3px solid; */

    text-align: center;
}

#context 
{
    width: 400px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* The HTML element that is above the canvas. 
 Using this element canvas as the context for the webgl*/
#Webgl_CSS_canvas
{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    z-index: -1;/*contolls the overlapping layers* html to webgl*/
}
#Webgl_CSS_canvas1
{
  position: fixed;
  top: 0;
  left: 0;
  /* bring your own prefixes */
  width: 100%;
  height: 100%;
  z-index: -1;/*contolls the overlapping layers* html to webgl*/
}

/* Borders */
header #border
{
    background-color: rgb(130, 130, 130);
    padding: 2px;
}
/* Animations */
/* Standard syntax */
@keyframes branding
{
    0%   {color:grey; left:0px; top:0px;}
    25%  {color:rgb(138, 138, 138); left:200px; top:0px;}
    50%  {color:rgb(243, 243, 243); left:200px; top:200px;}
    75%  {color:rgb(43, 43, 43); left:0px; top:200px;}
    100% {color:rgb(0, 0, 0); left:0px; top:0px;}
}

body #projects
{
    color: gray;

}
.pr1
{
    color: rgb(80, 41, 41);
}
.pr2
{
    color: rgb(66, 66, 114);
}
.pr3
{
    color: rgb(60, 128, 60);
}
.pr4
{
    color: rgb(145, 125, 62);
}